<!DOCTYPE html>
<html>
<head>
	<title>设备实时记录</title>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no" />
	<link rel="icon" type="image/x-icon" href="image/logos.jpg"/>
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="js/wm.js"></script>
	<script type="text/javascript" src="js/object.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
	<header id="record_header">
		<select id="record_header_company">
			<option value="">公司...</option>
			<option value="zjjf">浙江</option>
			<option value="dgjf">东莞</option>
		</select>
		<select id="record_header_type">
			<option value="">设备类型...</option>
			<option :value="product.devtypeid" v-for="product in products">{{product.devtypename}}</option>
		</select>
		<button class="record_header_search">查询</button>
	</header>
	<div class="header"></div>
	<div class="record_home" id="record_home">
		<table frame="void">
			<tr>
				<td>设备编号</td>
				<td>设备名称</td>
				<td>今日总计</td>
				<td>标准</td>
			</tr>
			<tr v-for="product in products">
				<td>{{product.machId}}</td>
				<td>{{product.machName}}</td>
				<td>{{product.total}}</td>
				<td>{{product.normal}}</td>
			</tr>
		</table>
		<div class="footer"></div>
	</div>
	<footer>
		<div class="footerb footers"><img src="image/pm.png"/>排名</div>
		<div class="footerc footers footerss"><img src="image/jla.png"/>记录</div>
		<div class="footerd footers"><img src="image/zl.png"/>设备</div>
		<div class="clear"></div>
	</footer>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript">
		/*ajax('post',URL + 'com/cli/type/select.json',"",function(data){
	        var appType = new Vue({
	            el: '#record_header_type',
	            data: {
	                products: data.listData,
	            }
	        })
		},function(err){
			console.log(err);
		},'json');*/

        var appType = new Vue({
            el: '#record_header_type',
            data: {
                products: typedev,
            }
        })

		var appz;

		c('record_header_search')[0].ontouchend = function(){
		    var recordHeaderCompany = d('record_header_company').value;
		    var recordHeaderType = d('record_header_type').value;
		    console.log(recordHeaderCompany);
		    console.log(recordHeaderType);

		    loading();
			ajax('post',URL + 'com/cli/cmm/indexDev.json','companyid='+recordHeaderCompany+'&devtypeid='+recordHeaderType,function(data){
				console.log(data);
	        	loadingClear();
		    	appz.products = data.obj;
			},function(err){
	        	loadingClear();
				console.log(err);
			},'json')
		}
		setInterval(function(){
		    var recordHeaderCompany = d('record_header_company').value;
		    var recordHeaderType = d('record_header_type').value;

			ajax('post',URL + 'com/cli/cmm/indexDev.json','companyid='+recordHeaderCompany+'&devtypeid='+recordHeaderType,function(data){
				console.log(data);
		    	appz.products = data.obj;
			},function(err){
				console.log(err);
			},'json')
		},600000)


	    var recordHeaderCompany = d('record_header_company').value;
	    var recordHeaderType = d('record_header_type').value;
	    
		appz = new Vue({
		    el: '#record_home',
		    data: {
		        products: recordObj,
		    }
		})
	    /*loading();
		ajax('post',URL + 'com/cli/cmm/indexDev.json','companyid='+recordHeaderCompany+'&devtypeid='+recordHeaderType,function(data){
			console.log(data);
	        loadingClear();
			appz = new Vue({
			    el: '#record_home',
			    data: {
			        products: data.obj,
			    }
			})
		},function(err){
	        loadingClear();
			console.log(err);
		},'json')*/
	</script>
</body>
</html>